html {
  font-size: 14px;
}

@import "tailwindcss";
@import "tailwindcss-primeui";

@import "primeicons/primeicons.css";

:root {
    --p-floatlabel-over-active-top: -1rem;
    /* tabs */
    --p-tabs-tab-border-width: 0 0 2px 0;
    --p-tabs-tab-background: transparent;

    --document-table-border-color: rgba(96, 125, 139, 0.5)
}
